{% extends 'base.html.twig' %}

{% block title %}Accueil - Bullee{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel = "stylesheet" href = "assets/css/accueil.css">
    {% endblock %}

    <main>
        <div id="backgroundtop" class="container-fluid">
            <div id="box">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une grande bulle transparente" class="animated_bubble animated_bubble_1">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une autre grande bulle transparente" class="animated_bubble animated_bubble_2">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une grande bulle transparente" class="animated_bubble animated_bubble_3">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une autre grande bulle transparente" class="animated_bubble animated_bubble_4">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une grande bulle transparente" class="animated_bubble animated_bubble_5">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une autre grande bulle transparente" class="animated_bubble animated_bubble_6">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une grande bulle transparente" class="animated_bubble animated_bubble_7">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une autre grande bulle transparente" class="animated_bubble animated_bubble_8">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une grande bulle transparente" class="animated_bubble animated_bubble_9">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une autre grande bulle transparente" class="animated_bubble animated_bubble_10">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une grande bulle transparente" class="animated_bubble animated_bubble_11">
                <img src="assets/img/bulle_anime/bulle-motion-css.svg" alt="une autre grande bulle transparente" class="animated_bubble animated_bubble_12">
            </div>
            <div class="container">
                <section class="row align-items-center text-center" id="qui">
                    <article class="col-lg-6 col-sm-8">
                        <h1> Bienvenue sur Bullee,</h1>
                        <p id="txtbienvenue">Bullee, c’est un espace d’accueil, une bulle dans laquelle tu peux te sentir en sécurité. Que tu souhaites t’informer, agir ou demander de l’aide, tu trouveras ici toutes les ressources nécessaires pour faire face au harcèlement.</p> 
                        <a class="bouton bouton2 text-center" id="nous" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Nous connaître</a>
                    </article>
                    <img class="offset-lg-1 col-lg-5 col-sm-8" src="assets/img/accueil/bienvenue.svg" alt="bienvenue">
                </section>

            </div>
        </div>

        <div id="sectionquiz" class="container-fluid">
            <div class="container">
                <section id="Quizz" class="row align-items-center">
                    <img id="imgquiz" class="col-lg-5" src="assets/img/quiz.png" alt="grande"> 
                    <article class="offset-lg-1 col-lg-6">
                        <h2 class="text-center">Le quiz</h2>
                        <p>Au quotidien, nous faisons face à de nombreuses situations pouvant être qualifiées de harcèlement.</p> 
                        <p>Le problème ? On ne le voit pas toujours, on ne sait pas comment y répondre, voire même, on y participe sans s’en rendre compte. Pour mieux comprendre ce qu’il se passe dans ces cas-là, des mises en situation interrogent notre rôle et son impact. </p>
                        <a class="bouton text-center" href="{{ path('app_quiz_start') }}">Je commence le quiz</a> 
                    </article>
                </section>

            </div>
        </div>

        <div id="backgroundbottom" class="container-fluid">
            <section id="STOP" class="container">
                <h2 class="text-center"> Je dis STOP au harcèlement </h2>
                <div class="d-flex justify-content-between text-center flex-wrap ">
                    <article class="cardaccueil">
                        <a href="{{ path('app_inform') }}">
                            <img  src="assets/img/accueil/je-minforme.svg" alt="#">
                            <h3 class="h3"> Je m'informe</h3>
                        </a>
                    </article>
                    <article class="cardaccueil">
                        <a href="{{ path('app_agis') }}">
                            <img src="assets/img/accueil/jagis.svg" alt="#">
                            <h3 class="h3"> J'agis</h3>
                        </a>
                    </article>
                    <article class="cardaccueil">
                        <a href="{{ path('app_demande') }}">
                            <img src="assets/img/accueil/je-demande.svg" alt="#">
                            <h3 id="h3"> Je demande <br> de l'aide </h3>
                        </a>
                    </article>
                </div>
            </section>

        </div>
        
        <!--MODALE EQUIPE-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <div class="modal-content">
                    <div class="container equipe">
                        <div class="d-flex justify-content-center align-items-center headermodale">
                            <h1>La team Synfony of the sea.</h1>
                        </div>
        
                        <p class="text-center quisommesnous"> <span class="sonic">Nous avons décider de créer <strong>BULLEE</strong> pour un projet de fin d’étude designers et devellopeurs web. Il était important pour notre équipe de faire un site internet en adéquation avec nos valeurs. Chaque membre de notre équipe à été touché de près ou de loin par le harcèlement. Et ce plus précisément pendant sa période scolaire.</span><br> <span class="makeup"></span></p>

                    <div id="toutequipe">
                        <article id="jud">
                            <img src="/assets/img/accueil/teambullee/Illustration_sans_titre 9.png" alt="Jude">
                            <div >
                                <p class="text-center description lunette">Lead <br> Integration</p> 
                            </div>
                        </article>

                        <article id="alice">
                            <img src="/assets/img/accueil/teambullee/Illustration_sans_titre 3.png" alt="Alice">
                            <div>
                                <p class="text-center description lunette"> Lead UX <br> Integration</p>   
                            </div>
                        </article>

                        <article id="vincent">
                            <img src="/assets/img/accueil/teambullee/Illustration_sans_titre 7.png" alt="Vincent">
                            <div>
                                <p class="text-center description lunette"> Lead Dev </p>
                            </div>
                        </article>
                
            
                        <article id="laurye">
                            <img src="/assets/img/accueil/teambullee/Illustration_sans_titre 8.png" alt="Laurye">
                            <div>
                                <p class="text-center description lunette"> Lead UI </p>
                            </div>
                        </article>
                
                        <article id="virginie">
                            <img src="/assets/img/accueil/teambullee/Illustration_sans_titre 5.png" alt="Virginie">
                            <div>
                                <p class="text-center description lunette"> Lead Back </p>
                            </div>
                        </article>
                
                        <article id="megane">
                            <img src="/assets/img/accueil/teambullee/Illustration_sans_titre 4.png" alt="Megane">
                            <div>
                                <p class="text-center description lunette"> Designer + / scrum master </p> 
                            </div>
                        </article>

                        <article id="noemie">
                            <img src="/assets/img/accueil/teambullee/Illustration_sans_titre 6.png" alt="">
                            <div>
                                <p class="text-center description lunette"> Lead Front </p>
                            </div>
                        </article>
                    </div>  
                </div>
        
            </div>
                
            </div>
        </div>
    </main>
{% endblock %}
