{% extends 'base.html.twig' %}

{% block title %}Hello InformController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<section>
<div class="containersigne container-fluid">
            <section id="signes" class="container row text-center">
                <h3 class="col-12">LES 4  SIGNES POUR RECONNAITRE LE HARCELEMENT</h3>
                <div class="d-flex justify-content-between flex-wrap">
                    <article class="cardsigne">
                        <img src="../BULLEE/images/anxiete.bonformat.svg" alt="">
                        <div class="offset-1 col-10 txtsigne">
                            <h4> Stress et anxiété </h4>
                            <p> Tu as des difficulté à t’endormir, tu as mal au ventre, tu n’as plus d’appétit, tu as peur de venir à l’école </p>
                        </div>
                    </article>
                    <article class="cardsigne">
                        <img src="../BULLEE/images/isolement.bonformat.svg" alt="">
                        <div class="offset-1 col-10 txtsigne">
                            <h4> Isolement  </h4>
                            <p> Tu ne fais plus partie d'un groupe, n'es plus invité et tu préfères rester seul</p>
                        </div>
                    </article>
                    <article class="cardsigne">
                        <img src="images/changement-humeurs.bonformat.svg" alt="">
                        <div class="titrelong offset-1 col-10 txtsigne">
                            <h4> Changement de comportement </h4>
                            <p> Tu te renfermes sur toi-même et tu peux devenir agressif</p>
                        </div>
                    </article>
                    <article class="cardsigne">
                        <img src="images/note-baisse.svg" alt="">
                        <div class="titrelong offset-1 col-10 txtsigne">
                            <h4> Note en baisse brutalement  </h4>
                            <p> Tes notes scolaires sont en baisse et tu n’arrives plus à te concentrer </p>
                        </div>
                    </article>
                </div>

            </section>
        </div>

 <div class="loibackground container-fluid">
            <section id="laloi" class="container row">
                <article class="artloi col-lg-5">
                    <h2> Connaître la loi </h2>
                    <p>Quelque soit la nature du harcèlement, celui-ci est toujours à prendre au sérieux. S’il est possible de régler certaines situations par la communication, d’autres cas peuvent nécessiter une aide un peu plus sérieuse. </p>
                    <p>Le harcèlement, subi au sein de ton établissement scolaire ou à l’extérieur, est en effet puni par la loi.</p>
                    <p>Les peines encourues vont dépendre de la gravité des conséquences du harcèlement et de l’âge des auteurs de harcèlement.</p>

                    <div class="zoneaccordeon">
                        <h6> <strong>MINEUR</strong></h6>
                        <button class="accordion">- de 13 ans</button>
                        <div class="panel">
                        <p>La personne coupable de harcèlement ne pourra pas être emprisonnée mais elle aura une sanction spécifique.</p>
                        </div>
               
                        <button class="accordion">+ de 13 ans</button>
                        <div class="panel">
                        <p>La personne coupable de harcèlement peut risquer jusqu'à 1 an et 5 ans de prison ainsi que 7 500€ d'amende maximum.</p>
                        </div>
            
                        <h6><strong>MAJEUR</strong></h6>
                        <button class="accordion">+ de 18 ans</button>
                        <div class="panel">
                        <p>La personne coupable de harcèlement peut risquer entre 3 ans et 10 ans de prison ainsi que 150 000€ d'amende maximum</p>
                        </div>
                    </div>

                </article>
                <img class="offset-lg-1 " src="images/justice.bonformat.svg" alt="">
                <a href="https://www.service-public.fr/particuliers/vosdroits/F31985#:~:text=r%C3%A9alisation%20des%20faits.-,Alerter%20les%20services%20de%20l%27%C3%A9ducation%20nationale,lutte%20contre%20les%20violences%20scolaires" id=bouton class="text-center" target="_blank">en savoir +</a>

            </section>
        </div>

        <div class="containertemoignage container-fluid">
            <section id="temoignages" class="container row text-center">

                <h3 class="col-lg-12">Témoignages</h3> 
                <h4 class="col-lg-12"> De nombreuses personnes ont réussi à mettre fin au harcèlement</h4> 
                <div id="article" class="d-flex justify-content-between flex-wrap">

                        
                        {% for testimonial in testimonials %}
                        <div class="maclasseCSSdemaDB">
                        <div class="" data-id="{{ testimonial.id }}">
                        <div class="offset-1 col-lg-10">
                            <img src="monimagademadb" alt="Facebook">
                        </div>  
                            <h4>{{ testimonial.name }}</h4>
                            <h5>{{ testimonial.age }}</h5>
                            <p>
                                {{ testimonial.content }}
                            </p>
                           
                        </div>
                            {% endfor %}

    
                    </div>

                </div>

             <script src="../BULLEE/accordeon.js"></script>         
{% endblock %}
