{% extends 'base.html.twig' %}

{% block title %}Hello QuizQRController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">   
{% endblock %}

{% block body %}

<div>
<p> En lançant ce quiz, des illustrations vont te mettre face à des situations pouvant faire partie du quotidien.
Prends le temps de regarder les scènes et de comprendre ce qu'il s'y passe.
Une fois l'image observée, à toi de décider comment tu réagirais parmi 4 propositions.</p>

<div>
<button><a href="">Je commence le quiz</a></button>