/* Page accueil mis à jour (ainsi que son html) */
@keyframes bulle_center {
    0% {
        /* Règles CSS de départ */
        top: 250px;
        left: -20px;
    }
    5% {
        /* Règles CSS à 5% de l'animation */
        top: 230px;
        left: 96px;
    }
    10% {
        /* Règles CSS à 10% de l'animation */
        top: 210px;
        left: 192px;
    }
    15% {
        /* Règles CSS à 15% de l'animation */
        top: 190px;
        left: 288px;
    }
    20% {
        /* Règles CSS à 20% de l'animation */
        top: 170px;
        left: 384px;
    }
    25% {
        /* Règles CSS à 25% de l'animation */
        top: 190px;
        left: 480px;
    }
    30% {
        /* Règles CSS à 30% de l'animation */
        top: 210px;
        left: 576px;
    }
    35% {
        /* Règles CSS à 35% de l'animation */
        top: 230px;
        left: 672px;
    }
    40% {
        /* Règles CSS à 40% de l'animation */
        top: 250px;
        left: 768px;
    }
    45% {
        /* Règles CSS à 45% de l'animation */
        top: 270px;
        left: 864px;
    }
    50% {
        /* Règles CSS à 50% de l'animation */
        top: 290px;
        left: 960px;
    }
    55% {
        /* Règles CSS à 55% de l'animation */
        top: 310px;
        left: 1056px;
    }
    60% {
        /* Règles CSS à 60% de l'animation */
        top: 290px;
        left: 1152px;
    }
    65% {
        /* Règles CSS à 65% de l'animation */
        top: 270px;
        left: 1248px;
    }
    70% {
        /* Règles CSS à 70% de l'animation */
        top: 250px;
        left: 1344px;
    }
    75% {
        /* Règles CSS à 75% de l'animation */
        top: 230px;
        left: 1440px;
    }
    80% {
        /* Règles CSS à 80% de l'animation */
        top: 210px;
        left: 1536px;
    }
    85% {
        /* Règles CSS à 85% de l'animation */
        top: 190px;
        left: 1632px;
    }
    90% {
        /* Règles CSS à 90% de l'animation */
        top: 210px;
        left: 1728px;
    }
    95% {
        /* Règles CSS à 95% de l'animation */
        top: 220px;
        left: 1824px;
    }
    100% {
        /* Règles CSS à 100% de l'animation */
        top: 250px;
        left: 1920px;
    }
}

@keyframes bulle_bottom_to_top {
    0% {
        /* Règles CSS de départ */
        top: 300px;
        left: -20px;
    }
    10% {
        /* Règles CSS à 10% de l'animation */
        top: 250px;
        left: 192px;
    }
    20% {
        /* Règles CSS à 20% de l'animation */
        top: 200px;
        left: 384px;
    }
    30% {
        /* Règles CSS à 30% de l'animation */
        top: 250px;
        left: 576px;
    }
    40% {
        /* Règles CSS à 40% de l'animation */
        top: 300px;
        left: 768px;
    }
    50% {
        /* Règles CSS à 50% de l'animation */
        top: 250px;
        left: 960px;
    }
    60% {
        /* Règles CSS à 60% de l'animation */
        top: 200px;
        left: 1152px;
    }
    70% {
        /* Règles CSS à 70% de l'animation */
        top: 150px;
        left: 1344px;
    }
    80% {
        /* Règles CSS à 80% de l'animation */
        top: 100px;
        left: 1536px;
    }
    90% {
        /* Règles CSS à 90% de l'animation */
        top: 50px;
        left: 1728px;
    }
    100% {
        /* Règles CSS à 100% de l'animation */
        top: -20px;
        left: 1920px;
    }
}

@keyframes bulle_top_to_bottom {
    0% {
        /* Règles CSS de départ */
        top: -20px;
        left: -50px;
    }
    10% {
        /* Règles CSS à 10% de l'animation */
        top: 30px;
        left: 192px;
    }
    20% {
        /* Règles CSS à 20% de l'animation */
        top: 80px;
        left: 384px;
    }
    30% {
        /* Règles CSS à 30% de l'animation */
        top: 130px;
        left: 576px;
    }
    40% {
        /* Règles CSS à 40% de l'animation */
        top: 180px;
        left: 768px;
    }
    50% {
        /* Règles CSS à 50% de l'animation */
        top: 230px;
        left: 960px;
    }
    60% {
        /* Règles CSS à 60% de l'animation */
        top: 280px;
        left: 1152px;
    }
    70% {
        /* Règles CSS à 70% de l'animation */
        top: 230px;
        left: 1344px;
    }
    80% {
        /* Règles CSS à 80% de l'animation */
        top: 180px;
        left: 1536px;
    }
    90% {
        /* Règles CSS à 90% de l'animation */
        top: 230px;
        left: 1728px;
    }
    100% {
        /* Règles CSS à 100% de l'animation */
        top: 280px;
        left: 1920px;
    }
}
/* Zone de travail */
#box {
    overflow: hidden;
    width: calc(100% - 24px);  
    height: 100%;  
    z-index: 1;
    top: 60px;
}
.animated_bubble {
    /* Options générale à toutes les bulles */
    position: absolute;
    left: 1920px;
    top: 200px;
    animation-timing-function: linear;     
    z-index: 1;    
}

.animated_bubble_1, .animated_bubble_2{
    /* Options d'animation de x bulles */
    animation-name: bulle_bottom_to_top;
    z-index: 1;    
}

.animated_bubble_3, .animated_bubble_5{
    /* Options d'animation de x bulles */
    animation-name: bulle_center;
    z-index: 1;    
}

.animated_bubble_4, .animated_bubble_6{
    /* Options d'animation de x bulles */
    animation-name: bulle_top_to_bottom;
    z-index: 1;    
}

.animated_bubble_1, .animated_bubble_5{
    /* Format de la bulle */
    width:160px;
    height: 160px;
    z-index: 1;    
}

.animated_bubble_1 {
    /* Options d'animation de la bulle */
    animation-duration: 3s;
}

.animated_bubble_2 {
    /* Format de la bulle */
    width:100px;
    height: 100px;  
    /* Options d'animation de la bulle */
    animation-duration: 3s;
    animation-delay: 0.5s;
}

.animated_bubble_3 {
    /* Format de la bulle */
    width:120px;
    height: 120px;          
    /* Options d'animation de la bulle */
    animation-duration: 2.5s;
    animation-delay: 1.5s;
}

.animated_bubble_4 {
    /* Format de la bulle */
    width:140px;
    height: 140px;               
    /* Options d'animation de la bulle */
    animation-duration: 3s;
    animation-delay: 1s;
}

.animated_bubble_5 {
    /* Options d'animation de la bulle */
    animation-duration: 2.5s;
    animation-delay: 1s;
}

.animated_bubble_6 {
    /* Format de la bulle */
    width:100px;
    height: 100px;  
    /* Options d'animation de la bulle */
    animation-duration: 2.5s;
    animation-delay: 0.5s;
}

/*******AJOUT 14/12-DEBUT**************/
/* .bienvenue, #sectionquiz{
    padding: 6rem 0;
} */
/*******AJOUT 14/12-FIN**************/


#backgroundtop{
    background: linear-gradient(180deg, #DCE7FF 0%, rgba(255, 241, 247, 0) 45.1%);
    padding-top: 160px; /* Ajout 14 dec 16h */
    position: relative;
    padding-top: 160px;
 }

#backgroundbottom{
   background:linear-gradient(180deg, #FFFFFF 15.1%, #E9F0FE 100%);
}

/* Section Qui sommes-nous ? */

h1{
    color: #2F2D84;
    padding-bottom: 2rem;
}

#Qui {
    margin: 5rem 0;
}

#txtbienvenue{
    font-size: 20px;
    font-weight: 600;
}

#backgroundtop a{
    margin-top: 120px !important;
    background: #3F3D9A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    width: 340px;
    height: 69px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
}

/* Section Quizz */

#sectionquiz {
    background-color: #3F3D9A;
    margin-top: 100px;
    padding: 50px 0;
}

#imgquiz {
    border-radius: 100px;
}

.bouton{
    margin-right: 2rem;
    background-color: #FFB7D6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin:auto;
    width: 300px;
    display: block;
    margin:auto;
}

.bouton:hover {
    background-color: #FF8EBF;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bouton:active {
    background-color: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: #2F2D84;
}

.bouton, .bouton:hover, .bouton:active {
    text-decoration: none;
    padding: 8px 32px;
    border-radius: 100px;
}

.bouton, .bouton:hover, #sectionquiz {
    color: white;
}

.bouton:hover, .bouton:active {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Je dit STOP au harcèlement */

#STOP {
    margin: auto;
    padding-top: 8rem;
    padding-bottom: 12rem;
}

#STOP h2 {
    padding-bottom: 4rem;
    color: #2F2D84
}

main #STOP img {
    height: 160px;
    width: 213px;
}

.cardaccueil a{
    text-decoration: none;
}

.cardaccueil h3{
    color: #C33070;
}

.cardaccueil{
    background-color: #FEFEFE;
    border: 1px solid rgba(88, 111, 169, 0.15);
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    width: 330px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #C33070;
    
}

.cardaccueil:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.cardaccueil:active{
    transform: scale(1.1);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.h3{
    padding-top: 30px;
}

#h3{
    padding-top: 15px;
}

/* Footer */

#breakcontainer {
    position: relative;
    padding: 50px;
    left: calc(-50vw + 50%);
    width: 100vw;
}

footer .logo {
    height: 60px;
    width: 110px;
}

/************************19/12 MODAAAAAAAAAAAALES-DEBUT**********************************/


.modal-content{
    padding: 4rem 0;
    background-image: url(../img/Accueil/teambullee/vague-qui-sommes-nous.svg);
    background-repeat: no-repeat;
}

.quisommesnous{
    padding-bottom:35rem;
}


.headermodale h1{
    margin:0 1rem
}


.sonic{
    color: #2F2D84
}

.lunette{
color: #4C6EAE;
}



.makeup, .sonic, .orange, .lunette, .bubblegum{
    font-size: 21px;

}

#toutequipe img {
    height: 300px;
}

#jud {
    position: absolute;
    z-index: 20;
    left: 297px;
    top: 226px;
}
#jud div {
    margin-top: -1rem;
}

#alice {
    position: absolute;
    z-index: 0;
    left: 627px;
    top: 231px;

}
#alice div {
    margin-top: -2.5rem;
    margin-left: 1.9rem;
}

#vincent {
    position: absolute;
    z-index: 0;
    left: 121px;
    top: 387px;
}
#vincent div {
    margin-top: -2.5rem;
    margin-right: 1rem;
}

#laurye {
    position: absolute;
    z-index: 40;
    left: 469px;
    top: 387px;  
}
#laurye div {
    margin-top: -1.5rem;
    margin-right: 1rem;
}

#virginie {
    position: absolute;
    z-index: 30;
    left: 808px;
    top: 415px;   
}
#virginie div {
    margin-top: -3rem;
    margin-right: -2rem;
}

#megane {
    position: absolute;
    z-index: 50;
    left: 271px;
    top: 558px; 
}
#megane div {
    margin-top: -3rem;
    margin-right: 1rem;
}

#noemie {
    position: absolute;
    z-index: 50;
    left: 640px;
    top: 586px;
}
#noemie div {
    margin-top: -3rem;
    margin-right: 1rem;
}


/************************19/12 MODAAAAAAAAAAAALES-FIN**********************************/