
.map_img svg path{
    transition: all 1s;
    transform-origin: center;
    transform-box: fill-box;
    stroke-opacity: 1;
}
/* Ce hover permet de mettre en avant l'académie que la souris survole */
.map_img svg path:hover {
    /* fill: #FF8EBF; */
    transition: fill 0.1s;
    stroke: white;
    stroke-width: 2px;
   transform: scale(1.2) ;
}

.land_active {
    fill: #C33070; 
    stroke: white;
    stroke-width: 2px;
    transform: scale(1.2);
}

