/* Footer */
#breakcontainer {
    position: relative;
    padding: 50px;
    left: calc(-50vw + 50%);
    width: 100vw;
}

footer .icones {
    height: 50px;
    width: 80px;
}

footer hr {
    background:rgb(127, 125, 238); 
}

.logo{
    background-image: url(/assets/img/logofooter/logo-bullee-grand.svg);
}

.icones:hover{
    transform: scale(1.1);
}

.mail{
    text-decoration: none;
    color: black ;
}