@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap'); 

h2{
    font-family: 'Poppins', sans-serif; 
    
    font-weight: 600;
    color: #2F2D84;
}

h3{
    font-family: 'Poppins', sans-serif; 

    color: #2F2D84;
}

h2{
    font-family: 'Poppins', sans-serif; 
    
    font-weight: 700;
    color: #2F2D84;
    margin-bottom: 2rem;
}

body p {
    font-family: 'Poppins', sans-serif;
    
    font-weight: 400;
}

/******JE SOUTIENS******/

.backgroundjesoutiens{
    background: url(../img/agis/fondbulles.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 90vh; /*******************************MODIF 14/12*******/
    position: relative;
}

.container{
    width: 1320px;
    margin: auto;
}

/*********************************MODIF 14/12 - DEBUT******/

#jesoutiens{
    padding-top:5rem;
    padding-bottom:3rem
}

#jesoutienstxt{
    padding-top: 1rem;
    line-height: 40px;
}
/********************************MODIF 14/12 - FIN******/



#bulle-ce-nest-pas-de-ta-faute-1{
    /* bulle-ce-nest-pas-de-ta-faute 1 */
    position: absolute;
    width: 144px;
    height: 144px;
    left: 1035px;
    top: 90px;
}

#bulle-tu-nest-pas-seule-1{
    /* bulle-tu-nest-pas-seule 1 */
    position: absolute;
    width: 290px;
    height: 290px;
    left: 1223px;
    top: 200px;
}


#bulle-il-navait-pas-le-droit-1{
    /* bulle-il-navait-pas-le-droit-1 */
    position: absolute;
    width: 190px;
    height: 190px;
    left: 1455px;
    top: 490px;
}

#bulle-je-epux-taider-1{
    /* bulle-je-epux-taider 1 */
    position: absolute;
    width: 162px;
    height: 152px;
    left: 1510px;
    top: 35px;
}

#reconfort {
    max-width: 400px;
    position: absolute ;
    
    bottom: 0;
}

#bulle-tu-nest-pas-seule-1:hover, #bulle-je-epux-taider-1:hover, #bulle-il-navait-pas-le-droit-1:hover, #bulle-ce-nest-pas-de-ta-faute-1:hover {
    /* bulle-tu-nest-pas-seule 1 */
    animation: myAnim 3s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

/******ETAPES******/

/**************************************MODIF 14/12 - DEBUT******/

#soutenir4etapes{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.cardsoutenir{
    background-color: #D0D7E5;
    width: 310px;
    padding: 3rem;
    border-radius: 50px;
    height: 470px;
    margin: 3rem 0;
    
}

.cardsoutenir:nth-child(2n){
    background-color: #4C6EAE
}

.cardsoutenir:nth-child(2n) h4, .cardsoutenir:nth-child(2n) p{
    color: white;
}

.num{
    color: white;
    font-family:'Chewy', cursive ;
    font-size: 5rem;
}

.conseil{
    padding: 0.75rem 0;

}

/*****************************************MODIF 14/12 - FIN******/


/******JE PREVIENS******/

/**************************************MODIF 14/12 - DEBUT******/

.backgroundjepreviens{
    background: linear-gradient(180deg, #FFFFFF 15.1%, #E9F0FE 100%);
}

#jepreviens{
    padding: 3rem 0;
}

#jepreviens article p{
    padding: 2.5rem;

}

#jepreviens article{
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 30px;
}

.orange{
    color: #F78008;
}

.rose{
    color: #DF80A9;
}

.rose{
    color: #DF80A9;
}

.makeup{
    color:#C33070
}

/*****************************************MODIF 14/12 - FIN******/

.image{
     max-height: 310px;
    
}

#bouton{
    text-decoration: none;
    background-color: #3F3D9A;
    padding: 8px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    color: white;
    display: block; /**************************************MODIF 14/12******/
    margin: auto;
    width: 191px;
    margin-bottom: 20px;
}

#bouton:hover{
    background-color: #FF8EBF;
    padding: 8px 32px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    border-radius: 100px;
    color: white;

}

#bouton:active{
    background-color: #FF8EBF;
    padding: 8px 32px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    border-radius: 100px;
    color: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1)

}

/**************************************MODIF 15/12 - DEBUT******/

.backgroundoutil{
    background: #E9F0FE;
}

.backgroundoutil h2{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*****************************************MODIF 15/12 - FIN******/

/***************************************************
                    MAIN Boite a outils
****************************************************/
/* Général*/
#boiteaoutils {
    background: #E9F0FE;
}

#boiteaoutils h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
}


#boiteaoutils h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}


#boiteaoutils h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 550;
}

#boiteaoutils p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* Onglets*/

#onglets h3 a {
    color: #EFF3FB;
    text-align: center;
}


#onglets {
    background-color: #C33070;
    border-radius: 20px;
    width: 28%;
    margin-left: 480px;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
}

#onglets #boutonateliers:hover {
    background: #FFFFFF;
    border-radius: 20px;
    color: #2F2D84;
    padding: 0.5rem;
}

#onglets #boutonarticles:hover {
    background: #FFFFFF;
    border-radius: 20px;
    color: #2F2D84;
    padding: 0.5rem;
}

/* Articles*/

#boiteaoutils h1 {
    text-align: center;
    color: #2F2D84;
    padding-bottom: 3rem;
}

#boiteaoutils h3 {
    color: #C33070;
}

#boiteaoutils h6 {
    color: #2F2D84;
}

#boiteaoutils p{
    color: #2F2D84;
}

#boiteaoutils article {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    width: 310px;
    height: 419px;
    padding: 30px;
    margin: 10px;
}

#boiteaoutils article:hover {
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

#boiteaoutils h6:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#boiteaoutils a {
    text-decoration: none;
    color: #2F2D84;
}
#boiteaoutils a:hover {
    color: #C33070;
}

#boiteaoutils .theatre img {
    width: 95%;
    padding-bottom: 2rem;
}

#boiteaoutils .cohesion img {
    width: 90%;
    padding-bottom: 1.5rem;
}

#boiteaoutils .harcelement img {
    width: 65%;
    padding-bottom: 1.3rem;
}


#boiteaoutils .violencescolaire img {
    width: 90%;
    padding-bottom: 0.7rem;
}