@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap'); 

main{
    padding-top: 140px;
}

h2{
    font-family: 'Poppins', sans-serif; 
    
    font-weight: 600;
    color: #2F2D84;
}

h3{
    font-family: 'Poppins', sans-serif; 

    color: #2F2D84;
}

h2{
    font-family: 'Poppins', sans-serif; 
    
    font-weight: 700;
    color: #2F2D84;
    margin-bottom: 2rem;
}

body p {
    font-family: 'Poppins', sans-serif;
    
    font-weight: 400;
}

.textsize{
    font-size: 18px;
}

/******JE SOUTIENS******/

.backgroundjesoutiens{
    background: url(../img/agis/fondbulles.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 90vh; /*******************************MODIF 14/12*******/
    position: relative;
}

.container{
    width: 1320px;
    margin: auto;
}

/*********************************MODIF 14/12 - DEBUT******/

#jesoutiens{
    padding-top:5rem;
    padding-bottom:3rem
}

#jesoutienstxt{
    padding-top: 1rem;
    line-height: 40px;
}

/********************************MODIF 14/12 - FIN******/

#bulle-ce-nest-pas-de-ta-faute-1{
    /* bulle-ce-nest-pas-de-ta-faute 1 */
    position: absolute;
    width: 144px;
    height: 144px;
    left: 1035px;
    top: 90px;
}

#bulle-tu-nest-pas-seule-1{
    /* bulle-tu-nest-pas-seule 1 */
    position: absolute;
    width: 290px;
    height: 290px;
    left: 1223px;
    top: 200px;
}


#bulle-il-navait-pas-le-droit-1{
    /* bulle-il-navait-pas-le-droit-1 */
    position: absolute;
    width: 190px;
    height: 190px;
    left: 1455px;
    top: 490px;
}

#bulle-je-epux-taider-1{
    /* bulle-je-epux-taider 1 */
    position: absolute;
    width: 162px;
    height: 152px;
    left: 1510px;
    top: 35px;
}

#reconfort {
    max-width: 400px;
    position: absolute ;
    
    bottom: 0;
}

#bulle-tu-nest-pas-seule-1:hover, #bulle-je-epux-taider-1:hover, #bulle-il-navait-pas-le-droit-1:hover, #bulle-ce-nest-pas-de-ta-faute-1:hover {
    /* bulle-tu-nest-pas-seule 1 */
    animation: myAnim 3s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

/******ETAPES******/

/**************************************MODIF 14/12 - DEBUT******/

#soutenir4etapes{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.cardsoutenir{
    background-color: #D0D7E5;
    width: 310px;
    padding: 3rem;
    border-radius: 50px;
    height: 470px;
    margin: 3rem 0;
    
}

.cardsoutenir:nth-child(2n){
    background-color: #4C6EAE
}

.cardsoutenir:nth-child(2n) h4, .cardsoutenir:nth-child(2n) p{
    color: white;
}

.num{
    color: white;
    font-family:'Chewy', cursive ;
    font-size: 5rem;
}

.conseil{
    padding: 0.75rem 0;

}

/*****************************************MODIF 14/12 - FIN******/


/******JE PREVIENS******/

/**************************************MODIF 14/12 - DEBUT******/

.backgroundjepreviens{
    background: linear-gradient(180deg, #FFFFFF 15.1%, #E9F0FE 100%);
}

#jepreviens{
    padding: 3rem 0;
}

#jepreviens article p{
    padding: 2.5rem;

}

#jepreviens article{
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 30px;
}

.font_orange{
    color: #F78008;
    font-size: 20px;
}

.font_rose{
    color: #DF80A9;
    font-size: 20px;
}

#makeup{
    color:#C33070;
    font-size: 20px;
}

.blue{
    color: #345A9F;
    font-size: 20px;
}

/*****************************************MODIF 14/12 - FIN******/

.image{
     max-height: 310px;
}

.bouton{
    text-decoration: none;
    background: #3F3D9A;
    padding: 8px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    color: white;
    display: block; /**************************************MODIF 14/12******/
    margin: auto;
    width: 191px;
    margin-bottom: 20px;
    text-align: center;
}

.bouton:hover{
    background-color: #FF8EBF;
    padding: 8px 32px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    border-radius: 100px;
    color: white;
}

.bouton:active{
    background-color: #FF8EBF;
    padding: 8px 32px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    border-radius: 100px;
    color: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1)

}

/**************************************MODIF 15/12 - DEBUT******/

.backgroundoutil{
    background: #E9F0FE;
}

.backgroundoutil h2{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*****************************************MODIF 15/12 - FIN******/

/***************************************************
                    MAIN Boite a outils
****************************************************/
/* Général*/
#boiteaoutils {
    background: #E9F0FE;
    padding-bottom: 100px;
}

#boiteaoutils h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
}


#boiteaoutils h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}


#boiteaoutils h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 550;
}

#boiteaoutils p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #2F2D84;
    padding: 10px 0;
}

/* Onglets*/

#boutons-boite-outils {
    width: 32%;
    height: 50px;
    position: relative;
}

#onglets h3 span {
    color: #EFF3FB;
    text-align: center;
    position: absolute;
    cursor: pointer;
}

#boutonateliers {
    left: 60px;
    top: 10px;
}

#boutonarticles {
    right: -200px;
    top: 10px;
}

#onglets {
    background-color: #C33070;
    border-radius: 20px;
    width: 20%;
    margin-left: 750px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
}

#boutonateliers:hover, #boutonarticles:hover {
    background: #FFFFFF;
    border-radius: 20px;
    color: #2F2D84;
    position: absolute;
    padding: 10px;
}

#boutonateliers:hover {
    top: 0px;
    left: 50px;
}

#boutonarticles:hover {
    top: 0px;
    right: -210px;
}

#btnatelier .actif{
    background: #FFFFFF;
    border-radius: 20px;
    color: #2F2D84;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 50px;
}

#btnarticle .actif {
    background: #FFFFFF;
    border-radius: 20px;
    color: #2F2D84;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: -210px;
}

/* Articles*/

#boiteaoutils h2 {
    text-align: center;
    color: #2F2D84;
    padding-bottom: 3rem;
    text-align: center;
}

.articles-ateliers-container h3 {
    color: #C33070;
}

#boiteaoutils h6 {
    color: #2F2D84;
}

#boiteaoutils p{
    color: #2F2D84;
}

#boiteaoutils article {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    width: 310px;
    height: 419px;
    padding: 30px;
    margin: 10px;
}

#boiteaoutils article:hover {
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

#boiteaoutils h6:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#boiteaoutils a {
    text-decoration: none;
    color: #2F2D84;
}

#boutons-boite-outils input {
    text-decoration: none;
}

#boiteaoutils a:hover {
    color: #C33070;
}

.article, .atelier{
    text-align: center;
    position: relative;
}

.voir{
    bottom: 20px;
    left: 37%;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    color: #2F2D84;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.voir p{
/*     font-family: 'Poppins';
    font-style: normal;
    color: #2F2D84;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px; */
}

#boiteaoutils img {
    height: 142.47px;
    padding-bottom: 1rem;
}

.btn-prev,
.btn-next {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    top: calc(50% - 20px);
    z-index: 999;
}

.btn-prev {
    left: 170px;
    top: 3840px;
    background-image: url(/assets/img/fleche-carrousel=gauche.svg);
}

.btn-next {
    right: 160px;
    top: 3840px;
    background-image: url(/assets/img/fleche-carrousel=droite.svg);
}

.articles-ateliers-container {
    position: relative;
    overflow: hidden;
}

.inactif {
    display: none;
}