{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/articles-ateliers.css">
{% endblock %}

{% block body %}
    <div>
        {{ article.contents|raw }}
    </div>
{% endblock %}