{% extends 'base.html.twig' %}

{% block title %}{{ workshop.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../assets/css/articles-ateliers.css">
{% endblock %}

{% block body %}

<div class="container">
    {{ workshop.contents|raw }}
</div>
{% endblock %}